.container  {
    border: 1px solid #c3073f;
    border-radius: 0px 0px 0px 15px;
}

.homeWrapper {
    background-color: #4e4e50;
}

.col-8 {
    
    border-radius: 0px 0px 0px 15pxs;
}

#curveEdge {
    border-radius: 0px 0px 0px 15px;
}
