.bio {
    color: #c3073f;
    font-family: 'Kanit', sans-serif;
    font-size: 3vh;
}

.container  {
    border: 1px solid #c3073f;
    border-radius: 0px 0px 0px 15px;
    margin: auto;
}

.greeting {
    font-family: 'Kanit', sans-serif;
    color: #c3073f;
    font-size: 5em;
    
}

ul.menu li {
    display: inline-block;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
    color: #c3073f;
    border: 1px solid #c3073f;
    border-radius: 15px;
}


.col-8 {
    border-radius: 0px 0px 0px 15pxs;
}

.jumbo {
    padding: 0px;
}

#curveEdge {
    border-radius: 0px 0px 0px 15px;
}

.skillsHeader {
    border-bottom: solid 2px #c3073f;
    text-align: center;
    margin-bottom: 2vh;
    color: #c3073f;
}

